<% # if @hr_flag %>
 <!-- <hr style="border: solid #5b522b 1px; margin: 1px; width: 75%; size: 5px; align-self: right;"> -->
<% # end %>
<% # @hr_flag = true %>

<% day = Kal::Days::DAY_TABLE.find{ |day| day.month_number == date.first && day.day_number == date.last } %>
<% feasts = @calendar_page.feasts.select{ |feast| feast.month_number == date.first && feast.day_number == date.last } %>

<div class="row calendar-row">
  <div class="col-1">
    <%= display_date(day) %>
  </div>

  <div class="col-2 ">
    <div class = "row">
      <%#= display_small_cols(col_config, day) %>
      <%= display_small_cols(@calendar_page.manuscript.col_config, day) %>
    </div>
  </div>

  <div class="col-6">
    <%= display_feast(feasts.first) unless feasts.blank? %>
  </div>

  <div class="col-3">
    <% unless feasts.blank? %>

      <div class="btn-group btn-group-sm">
        <%= show_feast_link(feasts.first) %>
        <%= edit_feast_link(feasts.first) %>
        <%= delete_feast_link(feasts.first) %>
      </div>

      <%= add_feast_link(date)  %>

    <% else %>
     <!--  <div class="btn-group btn-group-sm">
        <%= link_to 'details', '#', class: 'btn btn-secondary disabled', 'aria-disabled': true %>
        <%= link_to 'edit', '#', class: 'btn btn-secondary disabled', 'aria-disabled': true %>
        <%= link_to 'delete', '#', class: 'btn btn-danger disabled', 'aria-disabled': true %>
      </div>
 -->

      <%= add_feast_link(date) %>
    <% end %>

  </div>
</div>


<% if feasts.length > 1 %>
  <% feasts[1..-1].each do |feast| %>
    <div class="row calendar-row">
      <div class="col-3"></div>
      <div class="col-6">
        <%= display_feast(feast) %>
      </div>
      <div class="col-3">
        <div class="btn-group btn-group-sm">
          <%= show_feast_link(feast)%>
          <%= edit_feast_link(feast) %>
          <%= delete_feast_link(feast) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>