<%= form_for @calendar_page do |form| %>
  <% if calendar_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar_page.errors.count, "error") %> prohibited this calendar_page from being saved:</h2>

      <ul>
      <% calendar_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :folio %>
    <%= form.select :folio, @calendar_page.manuscript.calendar_folios, id: :calendar_page_folio %> <!-- rewrite to work with new routing -->
  </div>

  Start
  <div class="field">

    <%= form.select :start_month, CalendarPage::MONTHS, id: :calendar_page_start_month %><!-- CalendarPage::MONTH_SELECT -->
    <%= form.select :start_day, (1..31), id: :calendar_page_start_day %>
  </div>

  End
  <div class="field">

    <%= form.select :end_month, CalendarPage::MONTHS, id: :calendar_page_end_month  %><!-- CalendarPage::MONTH_SELECT -->
    <%= form.select :end_day, (1..31), id: :calendar_page_end_day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

