<!-- change to 'form_with' ? (also for other resources) -->

<%= form_for [@manuscript, @calendar_page] do |form| %>
  <% if calendar_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar_page.errors.count, "error") %> prohibited this calendar_page from being saved:</h2>

      <ul>
      <% calendar_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :folio %>
    <%= form.select :folio, @calendar_page.manuscript.calendar_folios, id: :calendar_page_folio %> <!-- rewrite to work with new routing (?) -->
  </div>

  Start
  <div class="form-group row">
    <%= form.select :start_month, Kal::Months::MONTH_TABLE.map{ |m| [m.name, m.number] }, id: :calendar_page_start_month %>
    <%= form.select :start_day, (1..31), id: :calendar_page_start_day %>
  </div>

  End
  <div class="form-group row">
    <%= form.select :end_month, Kal::Months::MONTH_TABLE.map{ |m| [m.name, m.number] }, id: :calendar_page_end_month %>
    <%= form.select :end_day, (1..31), id: :calendar_page_end_day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

