<%= form_with(model: calendar_page, local: true) do |form| %>
  <% if calendar_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar_page.errors.count, "error") %> prohibited this calendar_page from being saved:</h2>

      <ul>
      <% calendar_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :folio %>
    <%= form.text_field :folio, id: :calendar_page_folio %>
    <%#== form.select :folio, @manuscript.calendar_folios, id: :calendar_page_folio %>
  </div>

  <h3>Start</h3>
  <table>
    <td>
      <div class="field">
        <%= form.label :start_month, 'Month' %>
        <%= form.select :start_month, CalendarPage::MONTHS, id: :calendar_page_start_month %>
      </div>
    </td>

    <td>
      <div class="field">
        <%= form.label :start_day, 'Day' %>
        <%= form.select :start_day, (1..31), id: :calendar_page_start_day %>
      </div>
    </td>
  </table>

  <h3>End</h3>
  <table>
    <td>
      <div class="field">
        <%= form.label :end_month, 'Month' %>
        <%= form.select :end_month, CalendarPage::MONTHS, id: :calendar_page_end_month %>
      </div>
    </td>

    <td>
      <div class="field">
        <%= form.label :end_day, 'Day' %>
        <%= form.select :end_day, (1..31), id: :calendar_page_end_day %>
      </div>
    </td>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
