<script>
$(function(){
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<div class="container">

  <div class=row>
    <div class="col-10">
      <h1><%#= "#{@calendar_page.manuscript}: f. #{@calendar_page.folio}"%></h1>
      <h4><%#= "#{month_name @calendar_page.start_month} #{@calendar_page.start_day} - #{month_name @calendar_page.end_month} #{@calendar_page.end_day}" %>
      <h1><%= @calendar_page.manuscript %></h1>
      <h4><%= "f.#{@calendar_page.folio}: #{month_name @calendar_page.start_month} #{@calendar_page.start_day} - #{month_name @calendar_page.end_month} #{@calendar_page.end_day}" %></h4>
    </div>
    <div class="btn-group btn-group-lg col-2">
          <%= link_to 'edit', edit_calendar_page_path(@calendar_page), class: "btn btn-kal-standard btn-lg " %>
      <!--   </div>
        <div class="col-2"> -->
            <%= link_to 'back', "/manuscripts/#{@calendar_page.manuscript.id}#calendar_pages", class: "btn btn-kal-standard btn-lg " %>
    </div>
  </div>

  <!--   <p id="notice"><%= notice %></p> -->
<!--   <div class="row">
      <div class="col-2">
        <strong>Start:</strong>
        <%= "#{month_name @calendar_page.start_month} #{@calendar_page.start_day}" %>
      </div>
      <div class="col-2">
       <strong>End:</strong>
        <%= "#{month_name @calendar_page.end_month} #{@calendar_page.end_day}" %>
      </div>
  </div> -->


  <div class="modal fade" id="update_calendar_page" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg bordered-modal" role="document">
      <div class="modal-content">
        <h3>uh... go ahead!</h3>
        <div class='container'><%= render 'form', calendar_page: @calendar_page %></div>
      </div>
    </div>
  </div>

  <div class="container" id="calendar-table">
 <!--    <div class="row">
      <div class="col-1">
        1
      </div>
      <div class="col-2">
        22
      </div>
      <div class="col-6">
        666666
      </div>
      <div class="col-3">
        333
      </div>
    </div> -->
    <% @calendar_page.dates.each_with_index do |date, index| %>
      <% div_id = "#{date.first}-#{date.last}" %>
      <% grade = index.even? ? 'dark-grade' : 'light-grade' %>

      <%= content_tag(:div, id: div_id, class: grade){ render 'day', date: date }  %>

      <% break if date == @calendar_page.dates.last %>
      <%= content_tag(:hr, '', style: 'border: solid #b2ae97 4px;') if date.last == Kal::Months::MONTH_TABLE[date.first - 1].length %>
      <%#= content_tag(:div, '', class: 'dark-grade'){ content_tag(:div, '', class: 'row'){content_tag(:hr, '', style: 'border: solid #b2ae97 4px;', class: 'col') } } if date.last == Kal::Months::MONTH_TABLE[date.first - 1].length %>

    <% end %>
  </div>
  <br><br>
</div>

<!--
<div class="container">
  <%#= link_to 'edit', edit_calendar_page_path, class: "btn btn-kal-standard" %>

  <%= link_to 'back', "/manuscripts/#{@calendar_page.manuscript.id}#calendar_pages", class: "btn btn-kal-standard" %>
  <%#= link_to 'Back', manuscript_path(@calendar_page.manuscript) %>
</div>

 -->

<div class="modal fade" id="feast-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg bordered-modal" role="document">
    <div class="modal-content">
      <div class="modal-header feast-header" style="font-size: 30px">
        New Feast
      </div>
      <div class="modal-body container">
        [...]
      </div>
      <div class="btn btn-kal-standard" id="hide-modal"> cancel </div>
    </div>
  </div>
</div>