<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @calendar_page.folio %>
</p>

<p>
  <strong>Start:</strong>
  <%= "#{month_name @calendar_page.start_month} #{@calendar_page.start_day}" %>
</p>

<p>
  <strong>End:</strong>
  <%= "#{month_name @calendar_page.end_month} #{@calendar_page.end_day}" %>
</p>

<br>

<div class="container" id="calendar_table2">
<% @calendar_page.dates.each do |date| %>

  <% day = Kal::Days::DAY_TABLE.find{ |day| day.month_number == date.first && day.day_number == date.last } %>

  <div class="row">
    <div class="col-1">
      <%= display_date(day) %>
    </div>

    <% @calendar_page.manuscript.columns.each do |column| %>
    <% col_length = column == 'Text' ? '4' : '1' %>
    <div class=<%= "col-#{col_length}" %>>
      <%= display_column(column, day) %>
    </div>
    <% end %>

    <div class="col-3">
      <% feasts = @calendar_page.feasts.select{ |f| day[:month_number] == f.month_number && day[:day_number] == f.day_number } %>
      <% unless feasts.blank? %>
        <% first_feast = feasts.first %>
        <%= link_to 'edit', edit_feast_path(first_feast) %> |
        <%= link_to 'delete', [@calendar_page, first_feast], method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'details', feast_path(first_feast) %> |
        <%= link_to 'add another feast', new_calendar_page_feast_path(@calendar_page, 'feast[month_number]': date.first, 'feast[day_number]': date.last) %>
      <% else %>
        <%= link_to 'add', new_calendar_page_feast_path(@calendar_page, 'feast[month_number]': date.first, 'feast[day_number]': date.last) %> |
        <%= link_to 'add with 3 people', new_calendar_page_feast_path(@calendar_page, 'feast[month_number]': date.first, 'feast[day_number]': date.last, feast_people: 3) %>

        <% modal_id = "newFeastModal#{10 * date.first.to_i}#{date.last}"%>


        <!-- Button trigger modal -->
        <button type="button" data-toggle="modal" data-target=<%= "##{modal_id}" %>>
          Add w/ modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id=<%= modal_id %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add your feast</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <h1><%= "#{month_name(date.first)} #{date.last}" %></h1>

                <!--
                <% feast = @calendar_page.feasts.build(month_number: date.first, day_number: date.last) %>
                <% feast.manuscript = @calendar_page.manuscript %>
                <% 2.times{ feast.feast_names.build } %>

                <%= form_for calendar_page_feasts_path([@calendar_page, feast]), html: {class: "form"}  do |f| %>

                  <%#= render 'feasts/form', form: f %>

                <% end %>
                 -->

              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> 2 1111 3 3-->
            </div>
          </div>
        </div>





      <% end %>
    </div>
  </div>

  <% if feasts.length > 1 %>
    <% feasts[1..-1].each do |feast| %>
      <div class="row">
        <div class="col-1"></div>
        <% 5.times do |t| %>


          <% if @calendar_page.manuscript.columns[t] == 'Text' %>
            <div class="col-4">
              <span class=<%= feast_color_class(feast.color) %>><%= feast %></span>
            </div>
          <% else %>
            <div class="col-1"></div>
          <% end %>

        <% end %>
        <div class="col">
          <%= link_to 'edit', edit_feast_path(feast) %> |
          <%= link_to 'delete', [@calendar_page, feast], method: :delete, data: { confirm: 'Are you sure?' } %> |
          <%= link_to 'details', feast_path(feast) %>
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>
</div>

<br>


<%= link_to 'Edit', edit_calendar_page_path %> |

<%= link_to 'Back', "/manuscripts/#{@calendar_page.manuscript.id}#calendar_pages" %>
<%#= link_to 'Back', manuscript_path(@calendar_page.manuscript) %>
