<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @calendar_page.folio %>
</p>

<p>
  <strong>Start:</strong>
  <%= "#{month_name @calendar_page.start_month} #{@calendar_page.start_day}" %>
</p>

<p>
  <strong>End:</strong>
  <%= "#{month_name @calendar_page.end_month} #{@calendar_page.end_day}" %>
</p>

<br>

<table class="table" id="calendar_table2">
<% @calendar_page.dates.each do |date| %>

  <% day = Kal::Days::DAY_TABLE.find{ |day| day.month_number == date.first && day.day_number == date.last } %>

  <tr>
    <td>
      <%= display_date(day) %>
    </td>

    <% @calendar_page.manuscript.columns.each do |column| %>
    <td>
      <%= display_column(column, day) %>
    </td>
    <% end %>

    <td>
      <% feasts = @calendar_page.feasts.select{ |f| day[:month_number] == f.month_number && day[:day_number] == f.day_number } %>
      <% unless feasts.blank? %>
        <% first_feast = feasts.first %>
        <%= link_to 'edit', edit_feast_path(first_feast) %> |
        <%= link_to 'delete', [@calendar_page, first_feast], method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'details', feast_path(first_feast) %> |
        <%= link_to 'add another feast', new_calendar_page_feast_path(@calendar_page, 'feast[month_number]': date.first, 'feast[day_number]': date.last) %>
      <% else %>
        <%= link_to 'add', new_calendar_page_feast_path(@calendar_page, 'feast[month_number]': date.first, 'feast[day_number]': date.last) %> |
        <%= link_to 'add with 3 people', new_calendar_page_feast_path(@calendar_page, 'feast[month_number]': date.first, 'feast[day_number]': date.last, feast_people: 3) %>
      <% end %>
    </td>
  </tr>

  <% if feasts.length > 1 %>
    <% feasts[1..-1].each do |feast| %>
      <tr>
        <td></td>
        <% 5.times do |t| %>
          <td>
          <% if @calendar_page.manuscript.columns[t] == 'Text' %>
             <span class=<%= feast_color_class(feast.color) %>><%= feast %></span>
          <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to 'edit', edit_feast_path(feast) %> |
          <%= link_to 'delete', [@calendar_page, feast], method: :delete, data: { confirm: 'Are you sure?' } %> |
          <%= link_to 'details', feast_path(feast) %>
        </td>
      </tr>
    <% end %>
  <% end %>

<% end %>
</table>

<br>


<%= link_to 'Edit', edit_calendar_page_path %> |

<%= link_to 'Back', "/manuscripts/#{@calendar_page.manuscript.id}#calendar_pages" %>
<%#= link_to 'Back', manuscript_path(@calendar_page.manuscript) %>


<%#= render '/feasts/form', feast: @manuscript.feasts.build %>
<%# new_feast = @manuscript.feasts.build(month_number: d.first, day_number: d.last, calendar_page_id: @calendar_page.id, saint_name: 'Yoda') %>
<%#= render 'feast_form', feast: new_feast %>

