<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @calendar_page.folio %>
</p>

<p>
  <strong>Start:</strong>
  <%= "#{@calendar_page.start_month} #{@calendar_page.start_day}" %>
</p>

<p>
  <strong>End:</strong>
  <%= "#{@calendar_page.end_month} #{@calendar_page.end_day}" %>
</p>


<%= link_to 'Edit', edit_manuscript_calendar_page_path(@manuscript, @calendar_page) %> |
<%= link_to 'Back', manuscript_path(@manuscript) %>

