<script>
$(function(){
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<div class="container">
  <!--   <p id="notice"><%= notice %></p> -->
  <div class=row>
    <div class="col-10">
      <h1><%= @calendar_page.manuscript %></h1>
      <h4><%= "f.#{@calendar_page.folio}: #{month_name @calendar_page.start_month} #{@calendar_page.start_day} - #{month_name @calendar_page.end_month} #{@calendar_page.end_day}" %></h4>
    </div>

    <div class="btn-group btn-group-lg col-2" style="height: 50px">
          <%= link_to 'edit', edit_calendar_page_path(@calendar_page), class: "btn btn-kal-standard btn-lg " %>
          <%= link_to 'back', "/manuscripts/#{@calendar_page.manuscript.id}#calendar_pages", class: "btn btn-kal-standard btn-lg " %>
    </div>
  </div>


  <div class="container" id="calendar-table">
    <% @calendar_page.dates.each_with_index do |date, index| %>
      <% div_id = "#{date.first}-#{date.last}" %>
      <% grade = index.even? ? 'dark-grade' : 'light-grade' %>

      <%= content_tag(:div, id: div_id, class: grade){ render 'day', date: date }  %>

      <% break if date == @calendar_page.dates.last %>
      <%= content_tag(:hr, '', style: 'border: solid #b2ae97 4px;') if date.last == Kal::Months::MONTH_TABLE[date.first - 1].length %>
    <% end %>
  </div>
  <br><br>
</div>



<!-- feast modal -->
<div class="modal fade" id="feast-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg bordered-modal" role="document">
    <div class="modal-content">
      <div class="modal-header feast-header" style="font-size: 30px">
        New Feast
      </div>
      <div class="modal-body container">
        [...]
      </div>
      <div class="btn btn-kal-standard" id="hide-modal"> cancel </div>
    </div>
  </div>
</div>