<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @calendar_page.folio %>
</p>

<p>
  <strong>Start:</strong>
  <%= "#{@calendar_page.start_month} #{@calendar_page.start_day}" %>
</p>

<p>
  <strong>End:</strong>
  <%= "#{@calendar_page.end_month} #{@calendar_page.end_day}" %>
</p>

<br>

<!--
<% @calendar_page.dates.each do |date| %>
  <p>
    <strong><%= "#{CalendarPage::MONTHS.find{ |m| m.number == date.first }} #{date.second}" %></strong>
    <% feast = @calendar_page.manuscript.feasts.find{ |f| date.first == f.month_number && date.last == f.day_number } %>
    <% unless feast.nil? %>
      <%= link_to 'edit', edit_feast_path(feast) %>
      <%= feast %>
      <td><%= link_to 'delete', feast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
      <%= link_to 'add', new_calendar_page_feast_path(@calendar_page, 'feast[month_number]': date.first, 'feast[day_number]': date.last) %>
    <% end %>
  </p>
<% end %>
-->
<table>
<% @calendar_page.dates.each do |date| %>
  <tr>
    <td>
      <strong><%= "#{CalendarPage::MONTHS.find{ |m| m.number == date.first }} #{date.second}" %></strong>
    </td>

    <td id="golden_number">
      <%= Feast::DATE_TABLE[date][:golden_number] %>
    </td>

    <td>
      <%= dominical_letter Feast::DATE_TABLE[date][:ordinal] %>
    </td>

    <td>
      <% feast = @calendar_page.manuscript.feasts.find{ |f| date.first == f.month_number && date.last == f.day_number } %>
      <% unless feast.nil? %>
        <%= link_to 'edit', edit_feast_path(feast) %>
        <%= feast %>
        <td><%= link_to 'delete', feast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <%= link_to 'add', new_calendar_page_feast_path(@calendar_page, 'feast[month_number]': date.first, 'feast[day_number]': date.last) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'Edit', edit_calendar_page_path %> |
<%= link_to 'Back', manuscript_path(@calendar_page.manuscript) %>


      <%#= render '/feasts/form', feast: @manuscript.feasts.build %>

      <%# new_feast = @manuscript.feasts.build(month_number: d.first, day_number: d.last, calendar_page_id: @calendar_page.id, saint_name: 'Yoda') %>
      <%#= render 'feast_form', feast: new_feast %>

<!-- ,manuscript_id: @calendar_page.manuscript_id) -->