<!-- <fieldset>
  <div class="row form-group field">
    <%= vf.label :variant, class: 'col-2' %>
    <%= vf.text_field :variant, class: 'col-6 form-control' %>
    <%= vf.select :language, Manuscript::LANGUAGES.map(&:capitalize).zip(Manuscript::LANGUAGES), {}, class: 'col-2 form-control' %>

     <div class="col-2">
      <%= vf.hidden_field :_destroy %>

      <%= link_to 'x', '#', class: 'remove-variant btn btn-danger btn-lg' %>
    </div>
  </div>
</fieldset>
 -->

<fieldset>
  <div class="row form-group field">
    <div class="col-2"><%= vf.label :variant, 'Variant:'%></div>
    <div class="col-2"><%= vf.select :language, Manuscript::LANGUAGES.map(&:capitalize).zip(Manuscript::LANGUAGES), {}, class: 'form-control variant-select' %></div>
    <div class="col-6"><%= vf.text_field :variant, class: 'form-control' %></div>
     <div class="col-2">
      <%= vf.hidden_field :_destroy %>
      <%= link_to 'X', '#', class: 'remove-variant btn btn-danger btn-block' %>
    </div>
  </div>
</fieldset>
