<div class="container">
  <%= notice %>

  <p>
    <strong>Name:</strong>
    <%= @name %>
  </p>

  <% if @name.variants.any? %>
    <h5>Variants</h5>
    <% @name.variants.each do |v| %>
      <%= v.to_s %>
      <br>
    <% end %>
    <br>
  <% end %>

  <% if @name.name_dates.any? %>
    <h5>Occurences</h5>
    <% @name.name_dates.each do |nd| %>
      <div><%= "#{month_name(nd.month)} #{nd.day}" %></div>
    <% end %>
    <br>
  <% end  %>

  <div class="btn-group">
    <%= link_to 'Edit', edit_name_path(@name), class: 'btn btn-kal-standard' %>
    <%= link_to 'Back', names_path, class: 'btn btn-kal-standard' %>
  </div>
</div>