<%= form_with(model: manuscript, local: true) do |form| %>
  <% if manuscript.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manuscript.errors.count, "error") %> prohibited this manuscript from being saved:</h2>

      <ul>
      <% manuscript.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shelfmark %>
    <%= form.text_field :shelfmark, id: :manuscript_shelfmark %>
  </div>

  <div class="field">
    <%= form.label :name, "*Name" %>
    <%= form.text_field :name, id: :manuscript_name %>
  </div>

  <div class="field">
    <%= form.label :book_type %>
    <%= form.text_field :book_type, id: :manuscript_book_type %>
  </div>

  <div class="field">
    <%= form.label :manuscript_or_print, 'Manuscript or print book?' %>
    <table>
      <td>
        <%= form.label :manuscript_or_print, 'manuscript', id: :manuscript_or_print %>
        <%= form.radio_button :manuscript_or_print, 'manuscript' %>
      </td>
      <td>
        <%= form.label :manuscript_or_print, 'print' %>
        <%= form.radio_button :manuscript_or_print, 'print', id: :manuscript_or_print %>
      </td>
      <td>
        <%= form.label :manuscript_or_print, 'unknown' %>
        <%= form.radio_button :manuscript_or_print, 'unknown', id: :manuscript_or_print %>
      </td>
    </table>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.select :language, Manuscript::LANGUAGES, include_blank: true, id: :manuscript_language %>
  </div>

  <div class="field">
    <%= form.label :script %>
    <%= form.text_field :script, id: :manuscript_script %>
  </div>


  <h3>Provenance?</h3>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :manuscript_origin %>
  </div>


  <div class="field">
    <%= form.label :origin_note %>
    <%= form.text_field :origin_note, id: :manuscript_origin_note %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :manuscript_destination %>
  </div>


  <div class="field">
    <%= form.label :destination_note %>
    <%= form.text_field :destination_note, id: :manuscript_destination_note %>
  </div>


  <h3>Text block</h3>

  <div class="field">
    <%= form.label :text_height, 'Height (mm)' %>
    <%= form.number_field :text_height, min: 0, id: :manuscript_text_height %>
  </div>

  <div class="field">
    <%= form.label :text_width, 'Width (mm)' %>
    <%= form.number_field :text_width, min: 0, id: :manuscript_text_width %>
  </div>

  <div class="field">
    <%= form.label :text_depth, 'Depth (mm)' %>
    <%= form.number_field :text_depth, min: 0, id: :manuscript_text_depth %>
  </div>


  <h3>Writing surface</h3>

  <div class="field">
    <%= form.label :writing_surface_height, 'Height (mm)' %>
    <%= form.number_field :writing_surface_height, min: 0, id: :manuscript_writing_surface_height %>
  </div>

  <div class="field">
    <%= form.label :writing_surface_width, 'Width (mm)' %>
    <%= form.number_field :writing_surface_width, min: 0, id: :manuscript_writing_surface_width %>
  </div>


  <h3>Date Range</h3>
  <table>
  <td>
   <div class="field">
      <%= form.label :start_year, 'Start' %>
      <%= form.number_field :start_year, min: 0, max: 9999, id: :manuscript_start_year %>
   </div>
  </td>
  <td>
    <div class="field">
      <%= form.label :end_year, 'End' %>
      <%= form.number_field :end_year, min: 0, max: 9999, id: :manuscript_end_year %>
    </div>
  </td>
  </table>

  <div class="field">
    <%= form.label :date_note %>
    <%= form.text_field :date_note, id: :manuscript_date_note %>
  </div>

  <div class="field">
    <%= form.label :extent %>
    <%= form.text_field :extent, id: :manuscript_extent %>
  </div>


  <div class="field">
    <%= form.label :provenance %>
    <%= form.text_field :provenance, id: :manuscript_provenance %>
  </div>


  <div class="field">
    <%= form.label :state_of_completion %>
    <%= form.text_field :state_of_completion, id: :manuscript_state_of_completion %>
  </div>

  <div class="field">
    <%= form.label :resource %>
    <%= form.text_field :resource, id: :manuscript_resource %>
  </div>

  <div class="field">
    <%= form.label :numbering_method %>
    <%= form.select :numbering_method, Manuscript::NUMBERING_METHODS, id: :manuscript_numbering_method %>
  </div>

  <div class="field">
    <%= form.label :calendar_integral, 'Is the calendar integral to the manuscript?' %>
    <%= form.check_box :calendar_integral, id: :manuscript_calendar_integral %>
  </div>

  <h2>Calendar Details</h2>


  <div class="field">
    <%= form.label :column1, "Column 1" %>
    <%= form.select :column1, Manuscript::COLUMN_TYPES, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :column2, "Column 2" %>
    <%= form.select :column2, Manuscript::COLUMN_TYPES, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :column3, "Column 3" %>
    <%= form.select :column3, Manuscript::COLUMN_TYPES, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :column4, "Column 4" %>
    <%= form.select :column4, Manuscript::COLUMN_TYPES, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :column5, "Column 5" %>
    <%= form.select :column5, Manuscript::COLUMN_TYPES, include_blank: true %>
  </div>

  <br>
  Color Weight:

  <table>
    <td>
      <div class="field">
        <%= form.label :color_weighting_black, 'Black' %>
        <%= form.number_field :color_weighting_black, min: 0, max: 7, id: :manuscript_color_weighting_black %>
      </div>
    </td>

    <td>
      <div class="field">
        <%= form.label :color_weighting_blue, 'Blue' %>
        <%= form.number_field :color_weighting_blue, min: 0, max: 7, id: :manuscript_color_weighting_blue %>
      </div>
    </td>

    <td>
      <div class="field">
        <%= form.label :color_weighting_green, 'Green' %>
        <%= form.number_field :color_weighting_green, min: 0, max: 7, id: :manuscript_color_weighting_green %>
      </div>
    </td>

    <td>
      <div class="field">
        <%= form.label :color_weighting_pink, 'Pink' %>
        <%= form.number_field :color_weighting_pink, min: 0, max: 7, id: :manuscript_color_weighting_pink %>
      </div>
    </td>

    <td>
      <div class="field">
        <%= form.label :color_weighting_red, 'Red' %>
        <%= form.number_field :color_weighting_red, min: 0, max: 7, id: :manuscript_color_weighting_red %>
      </div>
    </td>

    <td>
      <div class="field">
        <%= form.label :color_weighting_purple, 'Purple' %>
        <%= form.number_field :color_weighting_purple, min: 0, max: 7, id: :manuscript_color_weighting_purple %>
      </div>
    </td>

    <td>
      <div class="field">
        <%= form.label :color_weighting_gold, 'Gold' %>
        <%= form.number_field :color_weighting_gold, min: 0, max: 7, id: :manuscript_color_weighting_gold %>
      </div>
    </td>
  </table>


  <div class="field">
    <%= form.label :has_shading, 'Is there shading?' %>
    <%= form.check_box :has_shading, id: :manuscript_has_shading %>
  </div>

<!--
  <table>
    <th>Starts on folio:</th>
    <tr>
      <td>
        <div class="field">
          <%#= form.label :start_folio_number %>
          <%= form.number_field :start_folio_number, min: 1, id: :manuscript_start_folio %>
        </div>
      </td>
      <td>
        <div class="field">
          <%#= form.label :start_folio_side %>
          <%= form.select :start_folio_side, %w(r v), include_blank: true, id: :manuscript_start_folio %>
        </div>
      </td>
    </tr>
  </table>


  <table>
    <th>Ends on folio:</th>
    <tr>
      <td>
        <div class="field">
          <%= form.number_field :end_folio_number, min: 1, id: :manuscript_end_folio %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= form.select :end_folio_side, %w(r v), include_blank: true, id: :manuscript_end_folio %>
        </div>
      </td>
    </tr>
  </table> -->

  Starts on folio:
  <div class="field">
    <%= form.number_field :start_folio_number, min: 1, max: 999, id: :manuscript_start_folio %>
    <%= form.select :start_folio_side, %w(r v), include_blank: true, id: :manuscript_start_folio %>
   </div>

  Ends on folio:
  <div class="field">
     <%= form.number_field :end_folio_number, min: 1, max: 999, id: :manuscript_end_folio %>
     <%= form.select :end_folio_side, %w(r v), include_blank: true, id: :manuscript_end_folio %>
  </div>

<!--
  <div class="field">
    <%= form.label :start_folio, 'Starts on folio:' %>
    <%= form.text_field :start_folio, id: :manuscript_start_folio %>
  </div>

  <div class="field">
    <%= form.label :end_folio, 'Ends on folio:' %>
    <%= form.text_field :end_folio, id: :manuscript_end_folio %>
  </div>
 -->


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
