<%= form_with(model: manuscript, local: true) do |form| %>
  <% if manuscript.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manuscript.errors.count, "error") %> prohibited this manuscript from being saved:</h2>

      <ul>
      <% manuscript.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :shelfmark %>
    <%= form.text_field :shelfmark, id: :manuscript_shelfmark, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name, "*Name" %>
    <%= form.text_field :name, id: :manuscript_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :book_type %>
    <%= form.text_field :book_type, id: :manuscript_book_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :manuscript_or_print, 'Manuscript or print book?' %>
    <div class="row">
      <div class="col">
        <%= form.label :manuscript_or_print, 'manuscript', id: :manuscript_or_print %>
        <%= form.radio_button :manuscript_or_print, 'manuscript', class: "form-control" %>
      </div>
      <div class="col">
        <%= form.label :manuscript_or_print, 'print' %>
        <%= form.radio_button :manuscript_or_print, 'print', id: :manuscript_or_print, class: "form-control" %>
      </div>
      <div class="col">
        <%= form.label :manuscript_or_print, 'unknown' %>
        <%= form.radio_button :manuscript_or_print, 'unknown', id: :manuscript_or_print, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :language %>
    <%= form.select :language, Manuscript::LANGUAGES, include_blank: true, id: :manuscript_language, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :script %>
    <%= form.text_field :script, id: :manuscript_script, class: "form-control" %>
  </div>


  <h3>Provenance?</h3>

  <div class="form-group">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :manuscript_origin, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :origin_note %>
    <%= form.text_field :origin_note, id: :manuscript_origin_note, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :manuscript_destination, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :destination_note %>
    <%= form.text_field :destination_note, id: :manuscript_destination_note, class: "form-control" %>
  </div>


  <h3>Text block</h3>

  <div class="form-group">
    <%= form.label :text_height, 'Height (mm)' %>
    <%= form.number_field :text_height, min: 0, id: :manuscript_text_height, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :text_width, 'Width (mm)' %>
    <%= form.number_field :text_width, min: 0, id: :manuscript_text_width, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :text_depth, 'Depth (mm)' %>
    <%= form.number_field :text_depth, min: 0, id: :manuscript_text_depth, class: "form-control" %>
  </div>


  <h3>Writing surface</h3>

  <div class="form-group">
    <%= form.label :writing_surface_height, 'Height (mm)' %>
    <%= form.number_field :writing_surface_height, min: 0, id: :manuscript_writing_surface_height, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :writing_surface_width, 'Width (mm)' %>
    <%= form.number_field :writing_surface_width, min: 0, id: :manuscript_writing_surface_width, class: "form-control" %>
  </div>


  <h3>Date Range</h3>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.label :start_year, 'Start' %>
        <%= form.number_field :start_year, min: 0, max: 9999, id: :manuscript_start_year, class: "form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= form.label :end_year, 'End' %>
        <%= form.number_field :end_year, min: 0, max: 9999, id: :manuscript_end_year, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :date_note %>
    <%= form.text_field :date_note, id: :manuscript_date_note, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :extent %>
    <%= form.text_field :extent, id: :manuscript_extent, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :provenance %>
    <%= form.text_field :provenance, id: :manuscript_provenance, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :state_of_completion %>
    <%= form.text_field :state_of_completion, id: :manuscript_state_of_completion, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :resource %>
    <%= form.text_field :resource, id: :manuscript_resource, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :numbering_method %>
    <%= form.select :numbering_method, Manuscript::NUMBERING_METHODS, id: :manuscript_numbering_method, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :calendar_integral, 'Is the calendar integral to the manuscript?' %>
    <%= form.check_box :calendar_integral, id: :manuscript_calendar_integral, class: "form-control" %>
  </div>

  <h2>Calendar Details</h2>

  <div class="row">
    <div class="form-group col">
      <%= form.label :column1, "Column 1" %>
      <%= form.select :column1, Manuscript::COLUMN_TYPES, include_blank: true, class: "form-control" %>
    </div>

    <div class="form-group col">
      <%= form.label :column2, "Column 2" %>
      <%= form.select :column2, Manuscript::COLUMN_TYPES, include_blank: true, class: "form-control" %>
    </div>

    <div class="form-group col">
      <%= form.label :column3, "Column 3" %>
      <%= form.select :column3, Manuscript::COLUMN_TYPES, include_blank: true, class: "form-control" %>
    </div>

    <div class="form-group col">
      <%= form.label :column4, "Column 4" %>
      <%= form.select :column4, Manuscript::COLUMN_TYPES, include_blank: true, class: "form-control" %>
    </div>

<!--     <div class="form-group col">
      <%= form.label :column5, "Column 5" %>
      <%= form.select :column5, Manuscript::COLUMN_TYPES, include_blank: true, class: "form-control" %>
    </div> -->
  </div>

  <br>
  Color Weight:

  <div class="row">
    <% Manuscript::COLORS.each do |color| %>
      <div class="col">
        <div class="form-group">
          <%= form.label :"color_weighting_#{color}", color.capitalize, class: color_class(color) %>
          <%= form.number_field :"color_weighting_#{color}", min: 0, max: Manuscript::COLORS.length, id: :"manuscript_color_weighting_#{color}", class: "form-control" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :has_shading, 'Is there shading?' %>
    <%= form.check_box :has_shading, id: :manuscript_has_shading, class: "form-control" %>
  </div>


  <div class="form-group">
      Starts on folio:
    <%= form.number_field :start_folio_number, min: 1, max: 999, id: :manuscript_start_folio %>
    <%= form.select :start_folio_side, %w(r v), include_blank: true, id: :manuscript_start_folio, class: "form-control" %>
   </div>


  <div class="form-group">
     Ends on folio:
     <%= form.number_field :end_folio_number, min: 1, max: 999, id: :manuscript_end_folio %>
     <%= form.select :end_folio_side, %w(r v), include_blank: true, id: :manuscript_end_folio, class: "form-control" %>
  </div>


  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

