<%= form_with(model: manuscript, local: true) do |form| %>
  <% if manuscript.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manuscript.errors.count, "error") %> prohibited this manuscript from being saved:</h2>

      <ul>
      <% manuscript.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="row"> -->
    <div class="form-group col-8">
      <%= form.label :name, "*Name" %>
      <%= form.text_field :name, id: :manuscript_name, class: "form-control" %>
    </div>

    <div class="form-group col-8">
      <%= form.label :shelfmark %>
      <%= form.text_field :shelfmark, id: :manuscript_shelfmark, class: "form-control" %>
    </div>
<!--   </div> -->

    <div class="form-group col-8">
      <%= form.label :book_type %>
      <%= form.text_field :book_type, id: :manuscript_book_type, class: "form-control" %>
    </div>

  <!-- <div class="row"> -->
    <div class="form-group col-6">
      <div class="row">
        <%= form.label :manuscript_or_print, 'text type' %>
      </div>

      <div class="form-check form-check-inline row">

        <div class=col-4>
          <%= form.label :manuscript_or_print, 'manuscript', for: :manuscript_or_print, class: 'form-check-label' %>
          <%= form.radio_button :manuscript_or_print, 'manuscript', id: :manuscript_or_print, class: 'form-check-input' %>
        </div>

        <div class=col-3>
          <%= form.label :manuscript_or_print, 'print' %>
          <%= form.radio_button :manuscript_or_print, 'print', id: :manuscript_or_print, class: 'form-check-input' %>
        </div>

        <div class=col-3>
          <%= form.label :manuscript_or_print, 'unknown' %>
          <%= form.radio_button :manuscript_or_print, 'unknown', id: :manuscript_or_print, class: 'form-check-input' %>
        </div>

      </div>
    </div>
<!-- <div class="row"> -->
    <div class="form-group col-8">
      <%= form.label :language %>
      <%= form.select :language, Manuscript::LANGUAGES, {include_blank: true, id: :manuscript_language}, class: "form-control" %>
    </div>

    <div class="form-group col-8">
      <%= form.label :script %>
      <%= form.text_field :script, id: :manuscript_script, class: "form-control" %>
    </div>
 <!--  </div> -->

<!--   <h3>Provenance?</h3> -->
<!--
  <div class="row"> -->
    <div class="form-group col-8">
      <%= form.label :origin %>
      <%= form.text_field :origin, id: :manuscript_origin, class: "form-control" %>
    </div>

    <div class="form-group col-8">
      <%= form.label :origin_note %>
      <%= form.text_area :origin_note, id: :manuscript_origin_note, class: "form-control" %>
    </div>
  <!-- </div> -->

<!--
  <div class="row" -->
<!--     <div class="col-8"><h3>Text block</h3></div> -->
    <div class="col-6"><h5>Text block</h5></div>
<!--   </div> -->

  <div class="row">
    <div class="form-group col-2">
      <%= form.label :text_height, 'Height (mm)' %>
      <%= form.number_field :text_height, min: 0, id: :manuscript_text_height, class: "form-control" %>
    </div>

    <div class="form-group col-2">
      <%= form.label :text_width, 'Width (mm)' %>
      <%= form.number_field :text_width, min: 0, id: :manuscript_text_width, class: "form-control" %>
    </div>

    <div class="form-group col-2">
      <%= form.label :text_depth, 'Depth (mm)' %>
      <%= form.number_field :text_depth, min: 0, id: :manuscript_text_depth, class: "form-control" %>
    </div>
</div>
<!--     <div class="col-2"></div> -->


    <div class="col-4"><h5>Writing surface</h5></div>
    <div class="row">
    <div class="form-group col-2">
      <%= form.label :writing_surface_height, 'Height (mm)' %>
      <%= form.number_field :writing_surface_height, min: 0, id: :manuscript_writing_surface_height, class: "form-control" %>
    </div>

    <div class="form-group col-2">
      <%= form.label :writing_surface_width, 'Width (mm)' %>
      <%= form.number_field :writing_surface_width, min: 0, id: :manuscript_writing_surface_width, class: "form-control" %>
    </div>
  </div>


  <h5>Date Range</h5>
<!--
  <div class="row"> -->
    <div class="//form-group form-inline col-6">
      <div class="row">
        <div class="col-6">
    <!--       <div class="form-group"> -->
            <%= form.label :start_year, 'Start' %>
            <%= form.number_field :start_year, min: 0, max: 9999, id: :manuscript_start_year, class: "form-control" %>
    <!--       </div> -->
        </div>
        <div class="col-6">
      <!--     <div class="form-group"> -->
            <%= form.label :end_year, 'End' %>
            <%= form.number_field :end_year, min: 0, max: 9999, id: :manuscript_end_year, class: "form-control" %>
       <!--    </div> -->
        </div>
      </div>
    </div>

    <div class="form-group col-8">
      <%= form.label :date_note %>
      <%= form.text_area :date_note, id: :manuscript_date_note, class: "form-control" %>
    </div>
 <!--  </div> -->

<!-- <div class="row" -->
  <div class="form-group col-8">
    <%= form.label :extent %>
    <%= form.text_field :extent, id: :manuscript_extent, class: "form-control" %>
  </div>


<!--   <div class="form-group">
    <%= form.label :provenance %>
    <%= form.text_field :provenance, id: :manuscript_provenance, class: "form-control" %>
  </div>

 -->
  <div class="form-group col-8">
    <%= form.label :state_of_completion %>
    <%= form.text_field :state_of_completion, id: :manuscript_state_of_completion, class: "form-control" %>
  </div>

  <div class="form-group col-8">
    <%= form.label :resource %>
    <%= form.text_field :resource, id: :manuscript_resource, class: "form-control" %>
  </div>
<!-- </div> -->
<!--
<div class="row"> -->
  <div class="form-group col-8">
    <%= form.label :numbering_method %>
    <%= form.select :numbering_method, Manuscript::NUMBERING_METHODS, {id: :manuscript_numbering_method}, class: "form-control" %>
  </div>

  <div class="form-group col-8">
    <%= form.label :calendar_integral, 'Is the calendar integral to the manuscript?' %>
    <%= form.check_box :calendar_integral, id: :manuscript_calendar_integral, class: "form-control" %>
  </div>
<!-- </div> -->

  <h2>Calendar Details</h2>


  <!-- <div class="row"> -->
    <div class="form-group col-8">
      <%= form.label :destination %>
      <%= form.text_field :destination, id: :manuscript_destination, class: "form-control" %>
    </div>

    <div class="form-group col-8">
      <%= form.label :destination_note %>
      <%= form.text_area :destination_note, id: :manuscript_destination_note, class: "form-control" %>
      <span class='form-text text-muted'> where the calendar is intended to be used </span>
    </div>
 <!--  </div> -->

  <div class="row">
    <% (1..4).each do |num| %>
      <div class="form-group col-2">
        <% blank_val = true unless num == 1 %>
        <%= form.label :"column#{num}", "Column #{num}" %>
        <%= form.select :"column#{num}", Manuscript::COLUMN_TYPES, {include_blank: blank_val}, class: 'form-control' %>
      </div>
    <% end %>
  </div>


  <br>

  <h4>Color Ranking</h4>
    <span class='form-text text-muted'> Rank colors used in the calendar by order of importance with 1 being most important. Two or more colors can have the same rank.  </span>
    <br>
    <div class="form-group row">
    <% Manuscript::COLORS.each_with_index do |color, index| %>

    <!--     <div class="form-group row"> -->
          <div class="col-1">
            <%= form.label :"color_weighting_#{color}", color.capitalize, class: color_class(color) %>
          </div>
          <div class="col-1">
              <%#= content_tag(:div, style: "background-color: #{color};"){ '&nbsp;'.html_safe } %>
              <span class="oi oi-media-stop <%="#{color}-text"%>" title="person" aria-hidden="true" style="font-size: 40px;"></span>
          </div>
          <div class="col-2">
            <%#= form.number_field :"color_weighting_#{color}", min: 0, max: Manuscript::COLORS.length, id: :"manuscript_color_weighting_#{color}", class: "form-control" %>
            <%= form.select :"color_weighting_#{color}", ['not present'] + (1..Manuscript::COLORS.length).to_a, {id: :"manuscript_color_weighting_#{color}"}, class: "form-control" %>
         </div>

        <% if index.odd? %>
          </div>
          <div class="form-group row">
        <% end %>

    <% end %>
    </div>

  <div class="form-group">
    <%= form.label :has_shading, 'Is there shading?' %>
    <%= form.check_box :has_shading, id: :manuscript_has_shading, class: "form-control" %>
  </div>


  <div class="form-group row">
    <div class="col-2">
      Starts on folio:
    </div>
    <div class='form-inline'>
<!--     <div class=col-1> -->
      <%= form.number_field :start_folio_number, min: 1, max: 999, id: :manuscript_start_folio, class: "form-control" %>
<!--     </div> -->
<!--     <div class=col-1> -->
      <%= form.select :start_folio_side, %w(r v), {id: :manuscript_start_folio}, class: "form-control" unless @manuscript.numbering_method == 'Paginated' %>
<!--     </div> -->
    </div>

    <div class="col-1"></div>

    <div class="col-2">
      Ends on folio:
    </div>
    <div class='form-inline'>
 <!--    <div class=col-1> -->
      <%= form.number_field :end_folio_number, min: 1, max: 999, id: :manuscript_end_folio, class: "form-control" %>
<!--     </div> -->
 <!--    <div class=col-1> -->
      <%= form.select :end_folio_side, %w(r v), {id: :manuscript_end_folio}, class: "form-control" unless @manuscript.numbering_method == 'Paginated' %>
<!--     </div> -->
</div>
 </div>


  <div class="actions">
    <%= form.submit class: "btn btn-kal-special btn-lg" %>
  </div>
<% end %>



