<p id="notice"><%= notice %></p>

<h1>Manuscripts</h1>

<div class="container">
  <div class="row">
    <div class="col-4">Shelfmark</div>
    <div class="col-5">Name</div>
    <div class="col-3" ></div>
  </div>

  <% @manuscripts.each do |manuscript| %>
    <div class="row">
      <div class="col-4"><%= manuscript.shelfmark %></div>
      <div class="col-5"><%= manuscript.name %></div>
      <div class="col-1"><%= link_to 'Show', manuscript %></div>
      <div class="col-1"><%= link_to 'Edit', edit_manuscript_path(manuscript) %></div>
      <div class="col-1"><%= link_to 'Destroy', manuscript, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Manuscript', new_manuscript_path %>
