<p id="notice"><%= notice %></p>

<h1>Manuscripts</h1>

<div class="container">
  <div class="row">
    <div class="col-4">Shelfmark</div>
    <div class="col-5">Name</div>
  <!--
    <div class="col">Calendar integral</div>
    <div class="col">Numbering method</div>
    <div class="col">Book type</div>
    <div class="col">Manuscript or print</div>
    <div class="col">Language</div>
    <div class="col">Origin</div>
    <div class="col">Origin note</div>
    <div class="col">Destination</div>
    <div class="col">Destination note</div>
    <div class="col">Script</div>
    <div class="col">Text height</div>
    <div class="col">Text width</div>
    <div class="col">Text depth</div>
    <div class="col">Writing surface height</div>
    <div class="col">Writing surface width</div>
    <div class="col">Start date</div>
    <div class="col">End date</div>
    <div class="col">Date note</div>
    <div class="col">Extent</div>
    <div class="col">Provenance</div>
    <div class="col">State of completion</div>
    <div class="col">Resource</div>
    <div class="col">Columns</div>
    <div class="col">Start folio</div>
    <div class="col">End folio</div>
    <div class="col">Color weighting</div>
    <div class="col">Has shading</div>
  -->
    <div class="col-3" ></div>
  </div>

  <% @manuscripts.each do |manuscript| %>
    <div class="row">
      <div class="col-4"><%= manuscript.shelfmark %></div>
      <div class="col-5"><%= manuscript.name %></div>
     <!--
      <div class="col"><%= manuscript.calendar_integral %></div>
      <div class="col"><%= manuscript.numbering_method %></div>
      <div class="col"><%= manuscript.book_type %></div>
      <div class="col"><%= manuscript.manuscript_or_print %></div>
      <div class="col"><%= manuscript.language %></div>
      <div class="col"><%= manuscript.origin %></div>
      <div class="col"><%= manuscript.origin_note %></div>
      <div class="col"><%= manuscript.destination %></div>
      <div class="col"><%= manuscript.destination_note %></div>
      <div class="col"><%= manuscript.script %></div>
      <div class="col"><%= manuscript.text_height %></div>
      <div class="col"><%= manuscript.text_width %></div>
      <div class="col"><%= manuscript.text_depth %></div>
      <div class="col"><%= manuscript.writing_surface_height %></div>
      <div class="col"><%= manuscript.writing_surface_width %></div>
      <div class="col"><%= manuscript.start_year %></div>
      <div class="col"><%= manuscript.end_year%></div>
      <div class="col"><%= manuscript.date_note %></div>
      <div class="col"><%= manuscript.extent %></div>
      <div class="col"><%= manuscript.provenance %></div>
      <div class="col"><%= manuscript.state_of_completion %></div>
      <div class="col"><%= manuscript.resource %></div>
      <div class="col"><%= manuscript.columns %></div>
      <div class="col"><%= manuscript.start_folio %></div>
      <div class="col"><%= manuscript.end_folio %></div>
      <div class="col"><%= manuscript.color_weighting %></div>
      <div class="col"><%= manuscript.has_shading %></div>
      -->
      <div class="col-1"><%= link_to 'Show', manuscript %></div>
      <div class="col-1"><%= link_to 'Edit', edit_manuscript_path(manuscript) %></div>
      <div class="col-1"><%= link_to 'Destroy', manuscript, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Manuscript', new_manuscript_path %>
