<div class="container">
<!--   <p id="notice"><%= notice %></p> -->

  <h1>Manuscripts</h1>

  <div class="row">
    <div class="col-3"><h5>Shelfmark</h5></div>
    <div class="col-3"><h5>Name</h5></div>
    <div class="col-3"><h5>Calendar Pages</h5></div>
    <div class="col-3" ></div>
  </div>

  <% @manuscripts.each do |manuscript| %>
    <div class="row table-row">
      <div class="col-3"><%= manuscript.shelfmark %></div>
      <div class="col-3"><%= manuscript.name %></div>
      <div class="col-3">

        <div class="row">
        <!--   <div class="btn-group btn-group-sm"> -->
            <% manuscript.calendar_pages.sort_by(&:folio_ordinal).each do |c_p| %>
              <%= link_to c_p.folio, calendar_page_path(c_p), class: 'cal-page-link' %> <!-- , class: 'btn btn-secondary'  -->
              &nbsp;
            <% end %>
        <!--   </div> -->
        </div>

      </div>
      <div class="col-3 btn-group"> <!-- ok to put both classes in one div? -->
        <%= link_to 'details', manuscript, class: "btn btn-secondary" %>
        <%= link_to 'edit', edit_manuscript_path(manuscript), class: "btn btn-secondary" %>
        <%= link_to 'delete', manuscript, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>


  <br>

  <%= link_to 'New Manuscript', new_manuscript_path, class: "btn btn-primary" %>
</div>


<!--   <div class="col-1"><%#= link_to 'Show', manuscript %></div>
  <div class="col-1"><%#= link_to 'Edit', edit_manuscript_path(manuscript) %></div>
  <div class="col-1"><%#= link_to 'Destroy', manuscript, method: :delete, data: { confirm: 'Are you sure?' } %></div> -->