<script>
$(function(){
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<div class="container">
<!--   <p id="notice"><%= notice %></p> -->

  <div class="row">
    <div class="col-6">
      <h1>Manuscripts</h1>
    </div>

    <div class="col-3">
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-2"><h5>Shelfmark</h5></div>
    <div class="col-3"><h5>Manuscript</h5></div>
    <div class="col-4"><h5>Calendar Pages</h5></div>
    <div class="col-3"> <%= link_to 'New Manuscript', new_manuscript_path, class: "btn btn-kal-special btn-lg" %></div>
  </div>

  <% @manuscripts.each_with_index do |manuscript, index| %>
    <% grade = 'dark-grade' if index.even? %>
    <div class="row table-row <%= grade %>">
      <div class="col-2"><%= manuscript.shelfmark %></div>
      <div class="col-3"><%= manuscript.name %></div>
      <div class="col-4">

        <div class="row">
          <div class="btn-group btn-group-sm">
            <% manuscript.calendar_pages.sort.each do |c_p| %>
              <%= link_to c_p.folio, calendar_page_path(c_p), class: 'cal-page-link btn btn-kal-standard', title: "<span class='index-tooltip gold-text'>#{c_p.date_range}</span>", data: {toggle: 'tooltip', html: true} %>

            <% end %>
            <%= add_calendar_page_link2(manuscript) %>
          </div>
        </div>

      </div>
      <div class="col-3 btn-group float-right">
        <%= link_to 'details', manuscript, class: "btn btn-kal-standard" %>
        <%= link_to 'edit', edit_manuscript_path(manuscript), class: "btn btn-kal-standard" %>
        <%= link_to 'X', manuscript, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>

  <br>

</div>


<div class="modal fade" id="calendar-page-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg bordered-modal" role="document">
    <div class="modal-content">
       <div class="modal-body container"></div>
    </div>
  </div>
</div>