<h1><%= @manuscript.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Shelfmark:</strong>
  <%= @manuscript.shelfmark %>
</p>

<p>
  <strong>Book type:</strong>
  <%= @manuscript.book_type %>
</p>

<p>
  <strong>Manuscript or print:</strong>
  <%= @manuscript.manuscript_or_print %>
</p>

<p>
  <strong>Language:</strong>
  <%= @manuscript.language %>
</p>

<p>
  <strong>Script:</strong>
  <%= @manuscript.script %>
</p>

<h3>Provenance?</h3>

<p>
  <strong>Origin:</strong>
  <%= @manuscript.origin %>
</p>


<p>
  <strong>Origin note:</strong>
  <%= @manuscript.origin_note %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @manuscript.destination %>
</p>

<p>
  <strong>Destination note:</strong>
  <%= @manuscript.destination_note %>
</p>



  <h3>Text block</h3>

 <p>
  <strong>Height:</strong>
  <%= @manuscript.text_height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @manuscript.text_width %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @manuscript.text_depth %>
</p>

<h3>Writing Surface</h3>

<p>
  <strong>Height:</strong>
  <%= @manuscript.writing_surface_height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @manuscript.writing_surface_width %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @manuscript.start_year %>
</p>

<p>
  <strong>End year:</strong>
  <%= @manuscript.end_year %>
</p>

<p>
  <strong>Date note:</strong>
  <%= @manuscript.date_note %>
</p>

<p>
  <strong>Extent:</strong>
  <%= @manuscript.extent %>
</p>

<p>
  <strong>Provenance:</strong>
  <%= @manuscript.provenance %>
</p>

<p>
  <strong>State of completion:</strong>
  <%= @manuscript.state_of_completion %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @manuscript.resource %>
</p>


<p>
  <strong>Numbering method:</strong>
  <%= @manuscript.numbering_method %>
</p>

<p>
  <strong>Calender integral?:</strong>
  <%= yes_no(@manuscript.calendar_integral) %>
</p>

<p>
  <strong>Calendar starts on folio:</strong>
  <%= @manuscript.start_folio %>
</p>

<p>
  <strong>Calendar ends on folio:</strong>
  <%= @manuscript.end_folio %>
</p>

<h4> Columns </h4>
<% @manuscript.columns.each_with_index do |column, index| %>
  <p>
    <strong><%= "#{index + 1}:" %></strong>
    <%= column %>
  </p>
<% end %>

<% unless @manuscript.color_weighting.blank? %>
  <h4> Color Weight </h4>
  <% @manuscript.color_weighting.keys.each do |color| %>
    <p>
      <strong><%= "#{color.to_s.capitalize}:" %></strong>
      <%= @manuscript.color_weighting[color] %>
    </p>
  <% end %>
<% end %>


<p>
  <strong>Calender has shading?:</strong>
  <%= yes_no(@manuscript.has_shading) %>
</p>


<%= link_to 'Edit', edit_manuscript_path(@manuscript) %> |
<%= link_to 'Back', manuscripts_path %>

<h2>Calendar Pages</h2>

<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Folio</th>
      <th>Start </th>
      <th>End </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# CalendarPage.all.each do |calendar_page| %>
    <% @manuscript.calendar_pages.each do |calendar_page| %>
      <tr>
        <td><%= calendar_page.folio %></td>
        <td><%= "#{calendar_page.start_month} #{calendar_page.start_day}" %></td>
        <td><%= "#{calendar_page.end_month} #{calendar_page.end_day}" %></td>
        <td><%= link_to 'Show', [@manuscript, calendar_page] %></td>
        <td><%= link_to 'Edit', edit_manuscript_calendar_page_path(@manuscript, calendar_page) %></td>
        <td><%= link_to 'Destroy', [@manuscript, calendar_page], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Calendar Page', new_calendar_page_path %>
<%= link_to 'New Calendar Page', new_manuscript_calendar_page_path(manuscript_id: @manuscript.id) %>
