<p id="notice"><%= notice %></p>

<p>
  <strong>Shelfmark:</strong>
  <%= @manuscript.shelfmark %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manuscript.name %>
</p>


<p>
  <strong>Book type:</strong>
  <%= @manuscript.book_type %>
</p>

<p>
  <strong>Manuscript or print:</strong>
  <%= @manuscript.manuscript_or_print %>
</p>

<p>
  <strong>Language:</strong>
  <%= @manuscript.language %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @manuscript.origin %>
</p>

<p>
  <strong>Origin note:</strong>
  <%= @manuscript.origin_note %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @manuscript.destination %>
</p>

<p>
  <strong>Destination note:</strong>
  <%= @manuscript.destination_note %>
</p>

<p>
  <strong>Script:</strong>
  <%= @manuscript.script %>
</p>

 <p>
  <strong>Text height:</strong>
  <%= @manuscript.text_height %>
</p>

<p>
  <strong>Text width:</strong>
  <%= @manuscript.text_width %>
</p>

<p>
  <strong>Text depth:</strong>
  <%= @manuscript.text_depth %>
</p>

<p>
  <strong>Writing surface_height:</strong>
  <%= @manuscript.writing_surface_height %>
</p>

<p>
  <strong>Writing surface_width:</strong>
  <%= @manuscript.writing_surface_width %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @manuscript.start_year %>
</p>

<p>
  <strong>End year:</strong>
  <%= @manuscript.end_year %>
</p>

<p>
  <strong>Date note:</strong>
  <%= @manuscript.date_note %>
</p>

<p>
  <strong>Extent:</strong>
  <%= @manuscript.extent %>
</p>

<p>
  <strong>Provenance:</strong>
  <%= @manuscript.provenance %>
</p>

<p>
  <strong>State of completion:</strong>
  <%= @manuscript.state_of_completion %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @manuscript.resource %>
</p>


<p>
  <strong>Numbering method:</strong>
  <%= @manuscript.numbering_method %>
</p>

<p>
  <strong>Calender integral?:</strong>
  <%= yes_no(@manuscript.calendar_integral) %>
</p>

<p>
  <strong>Calendar starts on folio: </strong>
  <%= @manuscript.start_folio %>
</p>

<p>
  <strong>Calendar ends on folio: </strong>
  <%= @manuscript.end_folio %>
</p>

<p>
  <strong>Calendar columns...</strong>
</p>

<p>
  <strong>Color weighting...</strong>
</p>

<p>
  <strong>Calender has shading?:</strong>
  <%= yes_no(@manuscript.has_shading) %>
</p>


<%= link_to 'Edit', edit_manuscript_path(@manuscript) %> |
<%= link_to 'Back', manuscripts_path %>