 <div class="container">
  <div class="row">
    <div class="col-7"><h1><%= @manuscript.name %></h1></div>
    <div class="btn-group-lg btn-group col-5 float-right">
      <%= link_to 'Edit manuscript', edit_manuscript_path(@manuscript), class: "btn btn-kal-standard" %>
      <%= link_to 'View all manuscripts', manuscripts_path, class: "btn btn-kal-standard" %>
    </div>
  </div>

  <!-- <p id="notice"><%= notice %></p> -->

  <% %i(shelfmark book_type manuscript_or_print language script).each do |atr| %>
    <%= display_field(@manuscript, atr, always_display: true)  %>
  <%  end %>

  <br>

  <%= display_field_group(@manuscript, 'Provenance', %i|origin origin_note destination destination_note|) %>

  <br>

  <%= display_field_group(@manuscript, 'Text Block', %i|text_height text_width text_depth|) %>

  <br>

  <%= display_field_group(@manuscript, 'Writing Surface', %i|writing_surface_height writing_surface_width|) %>

  <br>

  <% %i(start_year end_year date_note extent provenance state_of_completion resource numbering_method).each do |atr| %>
    <%= display_field(@manuscript, atr) %>
  <%  end %>

  <div class="row">
    <div class="col-2"><strong>Calender integral?</strong></div>
    <div class="col-2"><%= yes_no(@manuscript.calendar_integral) %></div>
  </div>

  <div class="row" >
    <div class="col-2"><strong>Calendar range:</strong></div>
    <div class="col-2"><%= "#{@manuscript.start_folio}-#{@manuscript.end_folio}" %></div>
  </div>

  <br>

  <h4> Columns </h4>
  <div class="row">
    <% @manuscript.columns.each_with_index do |column, index| %>
      <% next if column.blank? %>
      <div class="col-1">
        <strong><%= "#{index + 1}." %></strong><br>
        <%= column %>
      </div>
    <% end %>
  </div>

  <br>

  <% unless @manuscript.color_weighting.blank? %>
    <h4>Color Ranking</h4>
    <% @manuscript.color_weighting.keys.sort_by{ |c| @manuscript.color_weighting[c] }.each do |color| %>
      <div class = "row">
        <div class="col-2"><%= content_tag :strong, "#{color.capitalize}", class: color_class(color) %></div>
        <div class="col-1"><%= @manuscript.color_weighting[color] %></div>
      </div>
    <% end %>
  <% end %>

  <br>

  <div class="row">
    <div class="col-2"><strong>Calender has shading?</strong></div>
    <div class="col-2"><%= yes_no(@manuscript.has_shading) %></div>
  </div>

</div>



<div class="container">

  <br>
  <p id="notice"><%= notice %></p>

  <div class="row" id="calendar_pages">
    <div class="col-3">
      <h3>Calendar Pages</h3>
    </div>

    <div class="col-3">
      <%= link_to 'View full calendar', calendar_manuscript_path(@manuscript), class: "btn btn-kal-standard" %>
    </div>

    <div class="col-4">
      <%#= link_to 'New', new_manuscript_calendar_page_path(manuscript_id: @manuscript.id), class: "btn btn-kal-special btn-lg" %> <!-- old attempt, update? -->
      <%= add_calendar_page_link %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">Folio</div>
    <div class="col-2">Start </div>
    <div class="col-2">End </div>
    <div class="col-6"></div>
  </div>

  <%# @manuscript.calendar_pages.sort_by(&:folio_ordinal).each do |calendar_page| %>
  <% @manuscript.calendar_pages.sort.each do |calendar_page| %>
    <div class="row table-row">
      <div class="col-2"><%= calendar_page.folio %></div>
      <div class="col-2"><%= "#{month_name calendar_page.start_month} #{calendar_page.start_day}" %></div>
      <div class="col-2"><%= "#{month_name calendar_page.end_month}   #{calendar_page.end_day}" %></div>

      <div class="col-6">
        <div class="btn-group">
         <%= link_to 'view', calendar_page, class: "btn btn-sm btn-kal-standard" %>
          <%#= link_to 'edit', edit_calendar_page_path(calendar_page), class: "btn btn-kal-standard" %>
         <%= link_to 'X', [@manuscript, calendar_page], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        </div>
      </div>

    </div>
    <% end %>
</div>



<div class="modal fade" id="calendar-page-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg bordered-modal" role="document">
    <div class="modal-content">
      <div class="modal-body container">...</div>
    </div>
  </div>
</div>

<%#= link_to 'all feasts', manuscript_calendar_path(@manuscript), class: "btn btn-kal-standard btn-block" %>



