<fieldset >
  <hr>
  <div class="row">
    <div class="form-group col-3">
      <%= fnf.label :name_id, 'Name' %>
      <%= fnf.text_field :name_id, class: "name-input form-control"  %>
    </div>

    <div class="col-1">
      &nbsp;
      <%= add_name_link  %>
    </div>

    <div class="form-group col-3">
      <%= fnf.label :saint_location, 'Location' %>
      <%= fnf.text_field :saint_location, class: "form-control" %>
    </div>

    <div class="form-group col-3">
      <div>
        <%= fnf.label :saint_attributes, 'Attributes' %>
        <br>
        <% st_attr = Kal::SaintAttributes %>

        <%= fnf.select :saint_attributes, grouped_options_for_select(Kal::SaintAttributes::OPTGROUPS, fnf.object.saint_attributes), {} , multiple: 'multiple', class: 'multiselect' %>
      </div>
    </div>

    <div class="col-2">
      <%= fnf.label :'_', '' %>
      <%= fnf.hidden_field :_destroy %>
      <% unless @delete_flag %>
        &nbsp;
        <%= link_to 'X', '#', class: 'remove-feast-name btn btn-danger btn-lg' %>
      <% end %>
      <% @delete_flag = true %>
    </div>
  </div>

<!--
    <%= fnf.fields_for :names do |nf| %>
      <%= render 'name_fields', nf: nf, locals: {form: fnf} %>
    <% end %>
 -->
  <div class="name-form-location"></div>
</fieldset>










