<fieldset>
  <hr>

  <div class="form-group">
    <%= fnf.label :name_id, 'Name' %>
    <%= fnf.collection_select :name_id, Name.all.to_a << Name.new(name: 'other'), :id, :name, include_blank: true %>
  </div>

 <div class="form-group hidden" id="name_field" name="name_field">
    <%= fnf.text_field :other_name %>
 </div>


  <div class="form-group">
    <div>
      <%= fnf.label :saint_attributes, 'Attributes' %>
      <% st_attr = Kal::SaintAttributes %>

      <%= fnf.select :saint_attributes, grouped_options_for_select(Kal::SaintAttributes::OPTGROUPS, fnf.object.saint_attributes), {} , multiple: 'multiple', class: 'multiselect' %>
    </div>
  </div>


  <div class="form-group">
    <%= fnf.label :saint_location, 'Location' %>
    <%= fnf.text_field :saint_location, class: "form-control" %>
  </div>

  <%= fnf.hidden_field :_destroy %>

  <%= link_to 'remove', '#', class: 'remove_feast_name btn btn-danger' if @flag %>
  <% @flag = true %><!-- is this ok? -->
</fieldset>

