<%= form_for [@calendar_page, @feast] do |form| %>
  <div>
    <%= form.select :saint_name, %w(Matthew Mark Luke John), include_blank: true %>
  <!--
  transcription
  saint_name
  saint_attributes
  modifier
  shading
  color
   -->
    <%= form.hidden_field :month_number %>
    <%= form.hidden_field :day_number %>
    <%= form.hidden_field :manuscript_id %>

  <%= form.submit %>
  </div>
<% end %>

