<!-- <%# if @feast.errors.any? %>
  <div id="error_explanation">
    <h2><%#= pluralize(@feast.errors.count, "error") %> prohibited this feast from being saved:</h2>

    <ul>
    <%# @feast.errors.full_messages.each do |message| %>
      <li><%#= message %></li>
    <%# end %>
    </ul>
  </div>
<%# end %>
 -->
<div class="row">
  <div class="form-group colors col-6">
    <%= form.label :color%>
    <%= form.select :color, colors_for_manuscript(@calendar_page.manuscript), {}, class: "form-control", id: "color-selection" %>
  </div>

  <div class="form-group col-6">
    <%= form.label :modifier %>
    <%= form.select :modifier, Feast::MODIFIERS, {include_blank: true}, class: "form-control", placeholder: "none" %>
  </div>
</div>

<br>

<h3>Entitites</h3>

<div class="not-row">

  <%= form.fields_for :feast_names do |fnf| %>
    <%= render 'feast_name_fields', fnf: fnf %>
  <% end %>

  <%= link_to_add_feast_name "Add another", form, class: "btn btn-secondary" %>
</div>
<%#= link_to_add_feast_name "Add another", form, class: "btn btn-secondary" %>
  <hr>

<% if @calendar_page.manuscript.has_shading == true %>
  <div class="form-group">
    <%= form.label :shading %>
    <%= form.text_field :shading, class: "form-control" %>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :transcription %>
  <%= form.text_area :transcription, class: "form-control" %>
</div>

<br>

<%= form.hidden_field :month_number %>
<%= form.hidden_field :day_number %>
<%= form.hidden_field :manuscript_id %>

<div class="form-group">
  <%= form.submit class: "btn btn-primary btn-lg" %>
</div>

