<!-- <%# if @feast.errors.any? %>
  <div id="error_explanation">
    <h2><%#= pluralize(@feast.errors.count, "error") %> prohibited this feast from being saved:</h2>

    <ul>
    <%# @feast.errors.full_messages.each do |message| %>
      <li><%#= message %></li>
    <%# end %>
    </ul>
  </div>
<%# end %>
 -->


<div class="multiselect-testing">
  <br>

  <% aspi = %w(monk prophet confessor) %>
  <% fanoth = %w(deacon cardinal recluse martyr) %>

  <h4>Multiselect test</h4>
  <select id="multiselect-test" multiple="multiple">
    <option> eh </option>
    <%= saint_attribute_optgroup('personal aspirations', aspi ) %>
    <%= saint_attribute_optgroup('possibilites for another person', fanoth) %>
  </select>

  <br><br>
</div>

<%= form.fields_for :feast_names do |fnf| %>

  <div class="form-group row">
    <%= fnf.label :name_id, 'Name' %>
    <%= fnf.collection_select :name_id, Name.all.to_a << Name.new(name: 'other'), :id, :name, include_blank: true %>
    <%#= fnf.select :name_id, Name.all.collect {|p| [ p.name, p.id ] } %>
  </div>

  <div class="form-group row hidden" id="name_field" name="name_field">
    <%= fnf.text_field :other_name %>
  </div>

  <!-- <div class="form-group row"> -->
  <div class="form-group">

    <div class="row">
      <%= fnf.label :saint_attributes %>
    </div>


    <% counter = 0 %>
      <div class="row">
      <%#= fnf.collection_check_boxes :saint_attributes, FeastName::SAINT_ATTRIBUTES, :to_s, :to_s, include_hidden: false do |b| %>
        <%= fnf.collection_check_boxes :saint_attributes, Kal::SaintAttributes::SAINT_ATTRIBUTES, :code, :name, include_hidden: false do |b| %>
          <% counter += 1 %>

          <div class="col">
            <%= b.label %>
            <%= b.check_box %>
          </div>

          <% if counter == Kal::SaintAttributes::SAINT_ATTRIBUTES.length / 3 %>
            </div><div class="row">
            <% counter = 0 %>
          <% end %>

        <% end %>
      </div>

  </div>

  <div class="form-group row">
    <%= fnf.label :saint_location %>
    <%= fnf.text_field :saint_location, class: "form-control mx-sm-3" %>
  </div>

  <br>

  <hr>
<% end %>



<div class="form-group row">
  <%= form.label :modifier %>
  <%= form.select :modifier, Feast::MODIFIERS, include_blank: true, class: "form-control" %>
</div>


<div class="form-group row">
  <%= form.label :shading %>
  <%= form.text_field :shading, class: "form-control" %>
</div>


<div class="form-group row colors">
  <%= form.label :color%>
  <%= form.select :color, colors_for_manuscript(@calendar_page.manuscript), class: "form-control" %>
</div>


<div class="form-group row">
  <%= form.label :transcription %>
  <%= form.text_area :transcription %>
</div>

<br>

<%= form.hidden_field :month_number %>
<%= form.hidden_field :day_number %>
<%= form.hidden_field :manuscript_id %>

<div class="form-group row">
  <%= form.submit %>
</div>



<!-- <script type="text/javascript">
  $(document).ready(function() {
    $('#multiselect-test').multiselect();
  });
</script> -->
<script type="text/javascript">
    $('#multiselect-test').multiselect();
</script>

