<!-- <%# if @feast.errors.any? %>
  <div id="error_explanation">
    <h2><%#= pluralize(@feast.errors.count, "error") %> prohibited this feast from being saved:</h2>

    <ul>
    <%# @feast.errors.full_messages.each do |message| %>
      <li><%#= message %></li>
    <%# end %>
    </ul>
  </div>
<%# end %> -->

<h2>Feast</h2>

<div class="row">
  <div class="form-group colors col-3">
    <%= form.label :color%>
    <%= form.select :color, colors_for_manuscript(@calendar_page.manuscript), {}, class: "form-control", id: "color-selection" %>
  </div>

  <div class="form-group col-3">
    <%= form.label :modifier %>
    <%= form.select :modifier, Feast::MODIFIERS, {include_blank: true}, class: 'form-control', placeholder: "none" %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-3"><h2>Subjects</h2></div>
  <div class="col-6"><%= link_to_add_feast_name 'Add new subject', form, class: 'btn btn-kal-special btn-block btn-sm' %></div>
</div>

  <%= form.fields_for :feast_names do |fnf| %>
    <%= render 'feast_name_fields', fnf: fnf, locals: {form: form} %>
  <% end %>

<hr>

<% # if @calendar_page.manuscript.has_shading %>
  <div class="form-group">
    <h5><%= form.label :shading, 'Prescriptions' %></h5>
    <%= form.text_field :shading, class: 'form-control' %>
  </div>
<% # end %>

<div class="form-group">
  <h5><%= form.label :transcription %></h5>
  <%= form.text_area :transcription, class: 'form-control' %>
</div>

<br>

<%= form.hidden_field :month_number %>
<%= form.hidden_field :day_number %>
<%= form.hidden_field :manuscript_id %>

<div class="form-group">
  <%= form.submit class: 'btn btn-kal-special btn-lg' %>
</div>


<div id="all-names" data-names="<%= Name.all.map(&:name).join(?|) %>"></div>




